@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	flex: 1;
    min-width: 100vw;
    max-width: 100vw;
    position: relative;
    overflow: auto;
}
img {
	width: inherit;
	height: inherit;
}

/* things for the header */
.header {
    display: flex;
    flex-shrink: 1;
    margin: 0;
	justify-content: space-between;
	align-content: center;
	color: #F9FAF8;
	background-color: #1F2937;
    max-height: 75px;
    width: 100%;
	top: 0;
    border: 10px solid red;
	border-bottom: paleturquoise solid 3px;
}
.headerlinks {
	display: flex;
    flex-shrink: 1;
	justify-content: flex-start;
   	list-style-type: none;
	align-self: center;
    width: 100%;
	padding-top: 1em;
    padding-right: 2rem;
}

.headerlinks li a {
	text-decoration: inherit;
	color: #F9FAF8;
	font-size: small;
	font-weight: 700;
	padding: 1rem 3rem 1rem 0;

}
.headerlinks li a:hover {
	color: rgb(116, 178, 230);
}
.logoimage {
	padding: 5px 0 0 5px;
    margin-right: -120px;
	height: 65px;
    width: auto;
}

/* section one stuff */
.section1 {
	display: flex;
    flex-shrink: 1;
    width: 100vw;
	background-color: #1F2937;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
.one-a {
	display: flex;
    flex-shrink: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 2em;
}
.one-b {
    width: 40vw;
    height: auto;
	margin: 1rem 2rem;
}
.title {
	color: #F9FAF8;
	font-size: xx-large;
	font-weight: 700;
}
.subtitle {
	color: #F9FAF8;
	font-size: medium;
	font-weight: lighter;
	margin: 1em 0;
}
button {
	color: linen;
	font-size: large;
	background-color: rgb(55, 126, 170);
	text-align: center;
	padding: 4px 30px;
	text-decoration: none;
	border-radius: 10px;
	font-weight: 600px;
}
button:hover {
	background-color: #36475e;
}

/* section two stuff */
.section2 {
    display: flex;
    flex-shrink: 1;
    width: 100vw;
	flex-direction: column;
	align-items: center;
	margin: 2em 0;
	padding: 0 2em;
	color: #1F2937;
}
.header2 {
	font-size: xx-large;
	font-weight: 900;
	
}
.cards {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100vw;
	margin: 1em 3em;
}
.cards1 .cards2 {
    display: flex;
    flex-wrap: nowrap;
}

.captionedimage {
	display: flex;
    flex-shrink: 1;
	flex-direction: column;
	align-items: flex-start;
	margin: 1em;
}
.cardpic {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 0;
	margin: 0;
	width: 25vw;
}